<DOCTYPE! html>
<html>
<head>
    <title> Add Log </title>
</head>
<body  >

    <nav  >
        <form action="/{{name}}/logs" method="GET"  >
            <input type="submit" value="Home"/>
        </form>
    </nav>

    <h2  > Log </h2>
<form action="/{{name}}/logs/add" method="POST" id="login"  >
    <div  >
        <label  >Date of log</label>
        <div  >
            <input type='datetime-local' name='date_created' value = {{present_datetime}} required />
        </div>
        </div>
    <div  >
        <label  >Value</label>
        <div  >
        <input type="text" name="value" required />
        </div>
        <div  ></div>
    </div>
    <div  >
        <label  >Description</label>
        <div  >
        <input type="text" name="desc" required />
        </div>
        <div  ></div>
    </div>
    <div  >
        <input type="submit" value = "Submit"  >
    </div>
</form>
</body>