<DOCTYPE! html>
<html>
<head>
    <title> Edit Log </title>
    <link href="/static/css/main.min.css" rel="stylesheet" >
</head>
<body  >
    <h2  > Edit Log</h2>
<form action="/{{name}}/logs/{{lid}}/edit" method="POST" id="edit"  >
    <div  >
        <label  >Date of log</label>
        <div  >
        <input type='datetime-local' name='date_created' value = {{log.Date_created}}  required />
        </div>
    </div>
    <div  >
        <label  >Value</label>
        <div  >
        <input type="number" step="any" name="value" placeholder={{log.Value}}  required/>
        </div>
    </div>
    <div  >
        <label  >Description</label>
        <div  >
        <input type="text" name="desc" placeholder={{log.Description}} />
        </div>
</div>
    
<div  >
    <input type="submit" value = "Submit"  >
</div>
</form>