<DOCTYPE! html>
<html>
<head>
    <title> Edit Log </title>
    <link href="/static/css/main.min.css" rel="stylesheet" >
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg p-1">
        <form action="/{{name}}/{{tracker_name}}/logs" method="GET" class="navbar-form">
            <input type="submit" value="Go back" class="btn btn-primary fw-bold text-decoration-none"/>
        </form>
    </nav>
    <h2 class="text-center"> Edit Log</h2>
    <form action="/{{name}}/{{tracker_name}}/logs/{{lid}}/edit" method="POST" id="log_edit" class="container px-5 text-center">
    <div class="mb-3 row justify-content-center">
        <label  class="display-4 col-sm-2 col-form-label text-lg-end">Date of log</label>
        <div class="col-3">
        <input type='datetime-local' name='date_created' value = {{date_created}} class="form-control" required />
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label class="display-4 col-sm-2 col-form-label text-lg-end">Value</label>
        <div class="col-3">
        <input type="number" step="any" name="value" value={{log.Value}} class="form-control" required/>
        </div>
    </div>
    <div  class="mb-3 row justify-content-center">
        <label class="display-4 col-sm-2 col-form-label text-lg-end">Description</label>
        <div class="col-3">
        <input type="text" name="desc" placeholder="{{log.Description}}" class="form-control" />
        </div>
</div>
    
<div class="py-3 text-center">
    <input type="submit" value = "Submit" class="btn btn-primary mb-3">
</div>
</form>