<DOCTYPE! html>
<html>
<head>
    <title> Logs </title>
</head>

<body>
    <nav>
        <form action="/{{name}}/trackers" method="GET"  >
            <input type="submit" value="Go back"/>
        </form>
    </nav>

    <h2  >Logs for {{tracker_name}}</h2>
    <div  >
        <div  >
    <table  >
        <tr>
            <th>Last Modified</th>
            <th>Value</th>
            <th>Description</th>
            <th>Last modified</th>
            <th>Actions</th>
        </tr>
        {%for i in logs_list%}
        <tr>
            {% for j in i[:-1] %}
            <td>{{j}}</td>
            {% endfor %}
            <td>
                <a href="/{{name}}/{{tracker_name}}/logs/{{i[4]}}/edit">Edit</a> <br> 
                <a href="/{{name}}/{{tracker_name}}/logs/{{i[4]}}/delete">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
<div >
    <div >
        <form action="/{{name}}/{{tracker_name}}/logs" method="POST" id="time_period"  >
            <div>
                <select name="period" id="period"  >
                    <option value=0>This day</option>
                    <option value=1>This week</option>
                    <option value=2>This month</option>
                </select>
            </div>
            <div>
                <input type="submit" value = "Show">
            </div>
        </form>
        <form action="/{{name}}/{{tracker_name}}/logs" >
            <input type="submit" value="Show All"/>
        </form>
    </div>

    <form action="/{{name}}/{{tracker_name}}/logs/add">
        <input type="submit" value="Add a Log"/>
    </form>
</div>
</body>