<DOCTYPE! html>
<html>
<head>
    <title> Signup </title>
</head>

<body  > 
    <nav>
        <form action="/" method="GET"  >
            <input type="submit" value="Go to Login"/>
        </form>
    </nav>   
    <h1  > Signup</h1>
    <form action="/signup" method="POST" id="signup">
        <div  >
            <label  >Username:</label>
            <input type='text' name='cname'  required />
        </div>
    
        <div  > 
            <label  >Password</label>
            <input type="password" name="cpass"  required />
        </div>
        
        <div  >
            <input type="submit"  value = "Signup"  >
        </div>
    </form>
</body>