<!DOCTYPE html>
<html>
<head>
    <title>Add tracker</title>
</head>
<body>
    <nav>
        <form action="/{{name}}/trackers" method="GET"  >
            <input type="submit" value="Go back"/>
        </form>
    </nav>
    <h1> Add new Tracker</h1>
    <form action="/{{name}}/{{tracker_name}}/edit" method="POST" id="tracker_edit">
        <div>
            <label >Name of tracker</label>
            <div>
                <input type='text' name='tracker_name' value="{{tracker_name}}" required />
            </div>
        </div>
        <dic>
            <label>Description</label>
            <div>
                <input type='text' name = 'tracker_desc' placeholder="{{desc}}"/>
            </div>
        </dic>
        <div>
            <input type="submit" value = "Submit" >
        </div>
    </form>
</body>
</html>